@import "reset";

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --font-size-p: 0.875rem;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}

/* Global styles */
body,
.card,
.wrapper,
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  background-color: var(--grey-900);
  font-family: "Inter", sans-serif;
  color: var(--white);
  margin: 0;
}

/* Card styling */
.card {
  justify-content: space-around;
  background-color: var(--grey-800);
  width: min(88vw, 24rem);
  height: min(70vh, 38.5rem);
  border-radius: 0.8rem;
}

/* Wrapper for centering and spacing content */
.wrapper {
  height: 90%;
  width: 90%;
  text-align: center;
}

.wrapper * {
  margin: auto;
}

/* Common margin for elements */
.profile-pic,
.name-location-wrapper,
.bio {
  margin: 0.85rem auto;
}

/* Profile image styling */
.profile-pic {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
}

/* Text styling */
p {
  font-size: var(--font-size-p);
}

.name {
  font-weight: 700;
  font-size: 1.4rem;
}

.location,
.btn {
  font-weight: 600;
}

.location {
  color: var(--green);
}

.bio {
  font-weight: 300;
}

/* Social buttons container */
.socials-container {
  list-style: none;
  padding: 0;
  height: 60%;
  justify-content: space-between;
  width: 100%;
}

/* Button styles */
.btn {
  background-color: var(--grey-700);
  width: 100%;
  height: 2.9rem;
  border-radius: 0.5rem;
  line-height: 2.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--green);
  color: var(--grey-900);
}
